.add-option-error {
  color: red;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  border: none;
  border-bottom: 0.3rem solid lighten($dark-grey, 20%);
  flex-grow: 1;
  margin-right: $s-size;
  color: $dark-grey;
  padding: $s-size;
}
