@import "../base/settings";

.header {
  background: $dark-teal;
  padding: $m-size 0;
  margin-bottom: $xl-size;
  color: $white;
}

.header__title {
  margin: 0;
  font-size: $l-size;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}
