// colors
$dark-teal: #004d40;
$m-dark-teal: #00695c;
$light-teal: #80cbc4;
$off-white: #f5f5f5;
$white: #ffff;
$dark-grey: grey;
$light-grey: #e0e0e0;
// spacings
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
